.heading-detail {
  position: absolute;
  width: 163px;
  height: 45px;
  left: 639px;
  top: 11rem;

  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  /* identical to box height */

  color: #000000;
}

.car-photo {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-image: url(../photos/ModelS.png);
}
#ord-btn{
  margin-left: 44%;
  left: 50%;
  margin-top: 50vw;
}

.nm-car{
  font-size: 24px;
}
button {
  // position: absolute;
  width: 212px;
  height: 50px;
  // left: 614px;
  // top: 47rem;
  // justify-content: center;
  margin: 2% 3% 4% auto ;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 50px;
}

.btndetails{
  border: 2px solid #787878;
}

#ord-btn:hover{
  color: #000000;
  background-color: white;
}

.front-photo {
  position: absolute;
  width: 122vw;
  height: 938px;
  left: -22vw;
  top: 51rem;
  right: 100rem;
  bottom: 0%;
  background-image: url(../photos/ModelSBlack.png);
  z-index: -1;
}

.details {
  position: absolute;
  top: 65rem;
  right: 45rem;
  bottom: 0%;
  left: 55rem;
  color: white;
  // padding: 10rem;
  // margin: 5rem;
  //   display: flex;
  //   flex-direction: row;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  font-family: 'Lexend Deca', sans-serif;
  width: 100%;
}
// tr{
// }
th{
  // font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-right: 130px;
  // margin-right: 50rem;
  // line-height: 1px;
  // height: 50px;
  // padding-bottom: 0%;
}
td{
  // font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  // line-height: 15px;
  padding: 0px 50px 20px 1px;
  // padding-bottom: 10%;
}


.pressed{
  border: 2px solid #ffffff;
}